@using Portal.UI_MVC_Web.Resources

@model ArticleIndexModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Articles";
}

@section Styles {
    <link href="~/css/materials.css" rel="stylesheet"/>
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h2>@Headings.DataTable</h2>

<a asp-controller="Article" asp-action="AddOrEdit">@Actions.Create</a>
 
<div id="article-table-view">
    @await Html.PartialAsync("_ArticlePartial", Model)
</div>