@using Portal.UI_MVC_Web.Resources

@model PerkDTO

@{
    if (Model.Id.Equals(default))
    {
        ViewData["Title"] = $"Add {Context.Request.RouteValues["controller"]}";
    }
    else
    {
        ViewData["Title"] = $"Edit {Context.Request.RouteValues["controller"]}";
    }
}

@using(Html.BeginForm("AddOrEdit", "Perk", FormMethod.Post))
{
    <div class="mb-2">
        <div class="d-flex flex-column">
            @Html.Label(@Objects.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
    </div>
    <input asp-for="Id" type="hidden"/>
    <input class="btn btn-primary" type="submit" value="@Actions.Submit">
}