<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Database=EducationalPortal;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add key="PaginatedPageSize" value="3"/>
		<add key="VideoRegex" value="([ \,\.\-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+) - ([0-9]+)p, ((?:\d{2}:\d{2}:\d{2}))"/>
		<add key="BookRegex" value="([ ,\.\-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+) - ([ \-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+), ([0-9]+) \(((?:\d{2}\.\d{2}\.\d{4})|(?:\d{2}\/\d{2}\/\d{4})|(?:\d+))\)(\.[a-z]+)"/>
		<add key="ArticleRegex" value="([ \,\.\-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+) - ((?:http|ftp|https):\/\/(?:[\w_-]+(?:(?:\.[\w_-]+)+))(?:[\w.,@?^=%:\/~+#-]*[\w@?^=%\/~+#-])) \(((?:\d{2}\.\d{2}\.\d{4})|(?:\d{2}\/\d{2}\/\d{4})|(?:\d+))\)"/>
		<add key="ModifyVideoRegex" value="([0-9]+) - ([ \,\.\-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+) - ([0-9]+)p, ((?:\d{2}:\d{2}:\d{2}))"/>
		<add key="ModifyBookRegex" value="([0-9]+) - ([ \,\.\-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+) - ([ \-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+), ([0-9]+) \(((?:\d{2}\.\d{2}\.\d{4})|(?:\d{2}\/\d{2}\/\d{4})|(?:\d+))\)(\.[a-z]+)"/>
		<add key="ModifyArticleRegex" value="([0-9]+) - ([ \,\.\-a-zA-Zа-яА-ЯёЁіІїЇєЄґҐ]+) - ((?:http|ftp|https):\/\/(?:[\w_-]+(?:(?:\.[\w_-]+)+))(?:[\w.,@?^=%:\/~+#-]*[\w@?^=%\/~+#-])) \(((?:\d{2}\.\d{2}\.\d{4})|(?:\d{2}\/\d{2}\/\d{4})|(?:\d+))\)"/>
	</appSettings>
</configuration>